.shop-cover-title {
    color: #ffffff;
}
.about-us-video {
    height: 60vh ;
    max-height: 500px ;
}
.wpb_content_element {
    margin-bottom: 0;
}
.woocommerce-store-notice, p.demo_store {
    background-color: #ee6450;
}